.contact-container{
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    transition: all 0.5s;
}

@media(max-width: 768px){
    .contact-title{
        font-size: 0.9em;
    }
    .mobile, .e-mail{
        font-size: 0.7em;
        margin: 0;
    }
}

