.post-container{
    display: flex;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    transition: all 0.5s;
}

.post-title{
    display: inline;
}

.edit-title{
    font-size: 1.3em;
    padding: .5rem .8rem;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
    width: 100%;
    margin: 1rem 0;
}
.edit-desc{
    font-size: 1.3em;
    padding: .5rem .8rem;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
    width: 100%;
    margin: 1rem 0;
}


.error{
    padding: 0;
    margin: 0;
    color: red;
}

.update{
    font-size: 1.2em;
    margin: 1rem 0.5rem;
    padding: .5rem 1rem;
    color: #fff;
    background-color: #7c4ee4;
    border-radius: 5px;
    border: none;
    outline: none;
}